.commentItem {
  margin-bottom: 1rem;
  background-color: var(--color-nav-selected);
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
}

.commentItem:last-child {
  margin-bottom: 0;
}

.commentAuthor {
  font-weight: 700;
  margin-bottom: 1rem;
}

.commentActions {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.commentActions button {
  margin-right: 0.5rem;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}

.commentActions button:hover {
  opacity: 1;
}
