.root {
  display: inline-block;
}

.popover {
  position: absolute;
  left: -80px;
  display: block;
  padding: 1.5rem;
  background-color: var(--color-modal-background);
  backdrop-filter: var(--filter-backdrop-blur);
  border-radius: 0.5rem;
  border: 1px solid var(--color-modal-outline);
  height: 50vh;
  overflow-y: scroll;
  scrollbar-color: var(--color-nav-selected) rgba(0, 0, 0, 0);
}

.label:hover {
  background-color: var(--color-row-hover);
}

.label {
  cursor: pointer;
}

.selected {
  background-color: var(--color-nav-selected);
}
