node_modules
dist
lib
*.log

packages/reflect-server/out

packages/reflect/out

packages/replicache/out
packages/replicache/doc/build/
packages/replicache/doc/docs/api
packages/replicache/doc/.docusaurus/
/.next
/.vercel
/renderer
/vendor
!/renderer/src/constants.ts
**/bot-recordings.ts