.pricingGrid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.25rem;
  grid-row-gap: 2.25rem;
  -ms-grid-columns: 3fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-align: left;
}

.pricingGridHeader {
  font-weight: bold;
}

.pricingGridIcon {
  height: 1rem;
}

.pricingContainer .pricingNote {
  font-size: 1rem;
}

@media (max-width: 600px) {
  .pricingGrid {
    overflow-x: scroll;
  }
}
