.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  display: block;
  max-width: 640px;
  width: 100%;
  margin: -115px auto 9rem 1.25rem;
  padding-top: 110px;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.section p {
  font-size: 1.5rem;
  line-height: 40px;
  text-align: left;
  white-space: normal;
  margin-bottom: 2.5rem;
}

.section p a {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.section p a::before,
.section p a::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.section p a::before {
  content: '';
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.15s;
}

.section p a:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  width: 100%;
  overflow: hidden;
}

.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.animated {
  margin-bottom: 2rem;
  padding: 0 12rem;
}

.animatedWide {
  margin-bottom: 2rem;
  padding: 0 6rem;
}

.howSection {
  margin-bottom: 20rem;
}

.howSection:last-child {
  margin-bottom: 0;
}

.description {
  text-align: center;
}

.subheader {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 4rem;
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .section {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0;
  }

  .howSection {
    margin-bottom: 8rem;
  }

  .section p {
    font-size: 1rem;
    line-height: 1.8;
  }
}
