.benefitsGrid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-row-gap: 5rem;
  grid-column-gap: 4rem;
  grid-auto-flow: row;
}

.benefitBlock {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

.benefitBlockFull {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  display: flex;
  padding: 3rem;
  background-color: #2a2c2e;
  border-radius: 0.5rem;
}

.benefitInfoContainer {
  color: #fff;
  margin-left: 3rem;
}

.benefitIconContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 54px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.benefitFullIconContainer {
  width: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.benefitIcon {
  display: block;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.benefitFullIcon {
  max-width: auto;
}

.benefitTitle {
  margin-top: 2.25rem;
  font-family: 'Muoto 205tf', sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 30px;
  margin-bottom: 0.625rem;
}

.benefitFullTitle {
  margin-top: 0;
  font-family: 'Muoto 205tf', sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 30px;
  margin-bottom: 0.625rem;
}

.benefitsGrid .benefitDescription {
  margin-bottom: 0px;
  font-size: 1rem;
  line-height: 28px;
  text-align: left;
}

@media (max-width: 600px) {
  .benefitsGrid {
    grid-template-columns: 1fr;
    align-items: center;
  }

  .benefitBlock {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
  }

  .benefitIconContainer {
    align-items: center;
    transform: scale(1.4);
  }

  .benefitsGrid .benefitTitle,
  .benefitsGrid .benefitDescription {
    text-align: center;
  }

  .benefitBlockFull {
    display: block;
  }

  .benefitFullIconContainer {
    margin: 0 auto 2rem;
  }

  .benefitInfoContainer {
    margin: 0;
  }

  .benefitFullTitle {
    text-align: center;
  }
}
