.benefitsGrid {
  display: block;
}

.benefitBlock {
  display: flex;
  margin-bottom: 4rem;
}

.benefitBlockFull {
  display: flex;
  padding: 3rem;
  color: #fff;
  background-color: #2a2c2e;
  border-radius: 0.5rem;
}

.benefitIconContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 54px;
  margin: 0 4rem 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.benefitFullIconContainer {
  width: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: center;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.benefitIcon {
  display: block;
  max-width: 100%;
  border: 0;
  width: 54px;
}

.benefitFullIcon {
  max-width: auto;
}

.benefitTitle {
  font-family: 'Muoto 205tf', sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 30px;
  margin: 0 0 0.625rem;
}

.benefitFullTitle {
  margin-top: 0;
  font-family: 'Muoto 205tf', sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 30px;
  margin-bottom: 0.625rem;
}

.benefitsGrid .benefitDescription {
  margin-bottom: 0px;
  font-size: 1rem;
  line-height: 28px;
  text-align: left;
}

@media (max-width: 600px) {
  .benefitsGrid {
    display: block;
    align-items: left;
  }

  .benefitBlock {
    display: block;
  }

  .benefitIconContainer {
    align-items: left;
    display: block;
    margin-bottom: 1rem;
  }

  .benefitIcon {
  }

  .benefitsGrid .benefitTitle,
  .benefitsGrid .benefitDescription {
    text-align: left;
  }

  .benefitBlockFull {
    display: block;
  }

  .benefitFullIconContainer {
    margin: 0 auto 2rem;
  }

  .benefitInfoContainer {
    margin: 0;
  }

  .benefitFullTitle {
    text-align: center;
  }
}
