.formContainer {
    width: 24rem;
    margin: 6rem auto;
}

.inputContainer {
    margin: 0 0 2rem;
}

.textField {
    display: block;
    color: #2a2c2e;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(42, 44, 46, 0.1);
    font-weight: 700;
    outline-color: #fc208a;
}

.textArea {
    resize: none;
    width: 100%;
    padding: 0.75rem 1rem;
    color: #2a2c2e;
    border-radius: 0.5rem;
    border: 1px solid rgba(42, 44, 46, 0.1);
    font-family: 'Muoto 205tf', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
    outline-color: #fc208a;
    min-height: 8rem;
}

.formLabel {
    display: block;
    text-align: left;
    font-weight: 700;
    font-size: 0.75rem;
    position: relative;
    margin: 0 0 1rem;
    opacity: 1;
}

.optional {
    font-weight: 400;
    text-align: right;
    right: 0;
    position: absolute;
    opacity: 0.5;
}

.ctaWrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0 0;
  }
  
  .buttonPrimary {
    display: inline-block;
    outline: none;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    padding: 1.4rem 2rem;
    border: 1px solid #fc208a;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 6px -2px rgb(0 0 0 / 37%);
    transition: transform 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #fc208a;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 700;
    position: relative;
    width: 14rem;
  }
  
  .buttonPrimary:hover,
  .buttonPrimary:focus {
    transform: scale(1.06);
    background: #fff;
  }
  
  .buttonPrimary::before {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 12px solid #fc208a;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 2.5s infinite;
  }
  
  .buttonPrimary:hover::before,
  .buttonPrimary:focus::before {
    animation: none;
    display: none;
  }
  
  .buttonPrimary:active {
    box-shadow: none;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  @keyframes ring {
    0% {
      border-width: 12px;
      width: 30px;
      height: 30px;
      opacity: 0;
    }
    29% {
      border-width: 12px;
      width: 30px;
      height: 30px;
      opacity: 0;
    }
    30% {
      border-width: 12px;
      width: 30px;
      height: 30px;
      opacity: 0.6;
    }
    100% {
      width: 180px;
      height: 180px;
      opacity: 0;
      border-width: 1px;
    }
  }
  
  @media (max-width: 600px) {
    .formContainer {
        width: 100%;
    }
  }