.clientConsole {
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.75rem;
    background: #E2E2E2;
    height: 8rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    border-top: 1px solid #FFF;
}

.prompt {
    font-family: 'Inconsolata', monospace;
    opacity: 0.65;
    font-weight: bold;
    color: rgb(171, 171, 171);
    display: block;
    margin-right: 0.9rem;
    position: absolute;
    left: 1.5rem;
    bottom: 1.3rem;
}

.consoleOutput {
    height: 4.5rem;
    margin: 0 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom, transparent 2%, #E2E2E2 35%);
}

.consoleOutput .consoleItem {
    font-size: 0.75rem;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    font-weight: 400;
    color: #24283B;
    line-height: 1rem;
    text-align: left;
    margin: 0.05rem 0;
    opacity: 0.3;
}

.consoleOutput .consoleItem:last-child {
    opacity: 0.5;
}