@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.85);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color */
  --color-background: rgba(0, 0, 0, 1);
  --color-text-primary: rgba(255, 255, 255, 0.85);
  --color-text-primary-active: rgba(255, 255, 255, 1);
  --color-text-dimmed-label: rgba(255, 255, 255, 0.5);
  --color-primary-cta: rgba(255, 92, 0, 1);
  --color-primary-cta-dimmed: rgba(255, 92, 0, 0.2);
  --color-light-outline: rgba(62, 62, 62, 0.39);
  --color-row-hover: rgba(62, 62, 62, 0.2);
  --color-nav-selected: rgba(30, 30, 30, 1);

  /* Typography */
  --typo-label-size: 0.875rem;
  --typo-label-weight: 800;
}

a {
  color: var(--color-text-primary);
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app-container {
  width: 100vw;
}

/* Nav */

.nav-container {
  height: 100%;
}

.zero-logo {
  width: 100%;
  height: auto;
}

.primary-cta {
  color: var(--color-background);
  border-radius: 0.5rem;
  background-color: var(--color-primary-cta);
  padding: 0.4rem 1.2rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
}

.primary-cta:focus,
.primary-cta:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.primary-nav {
  position: fixed;
  height: calc(100vh - 4rem);
  top: 2rem;
}

.nav-item {
  padding: 0.375rem 1rem;
  border-radius: 0.5rem;
}

.nav-item:hover {
  color: var(--color-text-primary-active);
}

.nav-active {
  color: var(--color-text-primary-active);
  background-color: var(--color-nav-selected);
}

.fps-meter {
  display: block;
  border-radius: 0.5rem;
  opacity: 0.3;
  width: 100%;
  margin-top: auto;
}

.user-login a {
  display: block;
  padding: 0.4rem 1.2rem;
  border-radius: 0.5rem;
  text-align: center;
  border: 1px solid var(--color-light-outline);
  transition: background-color 0.3s ease;
}

.user-login a:hover {
  background-color: var(--color-nav-selected);
}

/* Primary Content Panel */

.primary-content {
  width: 100%;
  padding-left: 16rem;
}

.list-view-header-container {
  display: flex;
  margin-bottom: 1.5rem;
}

.list-view-header {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.issue-count {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-background);
  background-color: var(--color-text-primary);
  border-radius: 2rem;
  padding: 0.25rem 0.5rem;
  vertical-align: middle;
  margin-left: 1rem;
}

.list-view-filter-container {
  color: var(--color-text-dimmed-label);
  box-shadow: 0px 1px 0px 0px var(--color-light-outline) inset;
  padding: 1rem 0.5rem 1rem 2rem;
  background: transparent url(assets/icons/filter.svg) no-repeat 0.5rem center;
}

.filter-label {
  margin-right: 0.5rem;
}

.add-filter {
  color: var(--color-primary-cta);
  background-color: var(--color-background);
  border: 1px solid var(--color-primary-cta-dimmed);
  padding: 0.25rem 0.5rem 0.25rem;
  border-radius: 2rem;
  margin: 0 0.5rem 0 0;
  line-height: 1.125;
  transition: background-color 0.3s ease;
}

.add-filter:hover {
  background-color: var(--color-primary-cta-dimmed);
}

.add-filter .plus {
  vertical-align: 1px;
}

.primary-content tr.header-row {
  box-shadow: 0px -1px 0px 0px var(--color-light-outline) inset;
}

.primary-content tr.header-row:hover {
  background-color: transparent;
}

.primary-content tr.header-row th {
  display: none;
  padding-bottom: 1rem;
}

.primary-content th.issue-column {
  padding-left: 0.5rem;
  width: 75%;
  text-align: left;
}

.primary-content th.label-column {
  padding-right: 0.5rem;
  width: 25%;
  text-align: right;
}

.primary-content tr:hover {
  background-color: var(--color-row-hover);
}

.primary-content td {
  height: 100%;
  box-shadow: 0px -1px 0px 0px var(--color-light-outline) inset;
}

.primary-content td:nth-child(-n + 2) {
  box-shadow: 0px 1px 0px 0px var(--color-light-outline) inset;
}

.primary-content td a {
  display: block;
  height: 100%;
  padding: 1rem 0;
  box-sizing: border-box;
}

.primary-content .issue-title {
  padding-left: 2rem;
}

.primary-content .issue-open {
  background: transparent url(assets/icons/issue-open.svg) no-repeat 0.5rem
    center;
}

.primary-content .issue-closed {
  background: transparent url(assets/icons/issue-closed.svg) no-repeat 0.5rem
    center;
}

.primary-content .issue-taglist {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 0.5rem 0 0;
  justify-content: end;
}

.primary-content .issue-taglist .label-item {
  margin: 0 0 0.5rem 0.5rem;
}

/* Issue Detail */

.issue-detail-container {
  width: 100%;
}

.issue-detail {
  padding-right: 16rem;
}

.issue-sidebar {
  position: fixed;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  width: 12rem;
}

.sidebar-item {
  margin-bottom: 2rem;
}

.sidebar-button {
  position: relative;
  background-color: var(--color-nav-selected);
  display: block;
  text-align: left;
  width: 100%;
  padding: 0.8175rem;
  border-radius: 0.5rem;
  transition: color 0.3s ease;
}

.sidebar-button:hover {
  color: var(--color-text-primary-active);
}

.button-dropdown::before {
  content: '';
  position: absolute;
  opacity: 0.85;
  transition: opacity 0.3s ease;
  right: 1.125rem;
  top: 1.125rem;
  display: block;
  height: 0.875rem;
  width: 0.875rem;
  background: transparent url(assets/icons/dropdown-arrow.svg) no-repeat;
}

.sidebar-button:hover::before {
  opacity: 1;
}

.sidebar-status-open {
  padding-left: 2.5rem;
  background: var(--color-nav-selected) url(assets/icons/issue-open.svg)
    no-repeat 0.8175rem center;
}

.sidebar-status-closed {
  padding-left: 2.5rem;
  background: var(--color-nav-selected) url(assets/icons/issue-closed.svg)
    no-repeat 0.8175rem center;
}

.issue-detail-title {
  font-size: 2rem;
  font-weight: 800;
  margin: 1.5rem 0;
}

.issue-detail-label {
  font-size: var(--typo-label-size);
  font-weight: var(--typo-label-weight);
  margin-bottom: 1rem;
}

.issue-detail p {
  word-wrap: break-word;
  overflow: hidden;
}
.issue-detail a {
  word-break: break-all;
  overflow: hidden;
}

.comments-container {
  margin-top: 4rem;
}

.comment-item {
  margin-bottom: 1rem;
  background-color: var(--color-nav-selected);
  padding: 1rem;
  border-radius: 0.5rem;
}

.comment-item:last-child {
  margin-bottom: 0;
}

.comment-author {
  font-weight: 700;
  margin-bottom: 1rem;
}

.label-item {
  background: transparent url(assets/icons/label.svg) 0.375rem center no-repeat;
  padding: 0.25rem 0.5rem 0.25rem 1.625rem;
  border-color: var(--color-light-outline);
  border-width: 1px;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
  margin: 0 0.5rem 0.5rem 0;
}

.label-item:last-child {
  margin-right: 0;
}

.label-item:hover {
  background-color: var(--color-nav-selected);
  cursor: pointer;
}

.breadcrumb-item {
  font-size: var(--typo-label-size);
  font-weight: var(--typo-label-weight);
  padding-right: 0.25rem;
}

.breadcrumb-item:last-child {
  padding-right: 0;
}

.issue-sidebar .selector {
  position: absolute;
  top: 2.3125rem;
  border-radius: 0.5rem;
  width: 100%;
  background-color: var(--color-nav-selected);
}

.issue-sidebar .selector-status {
  display: block;
  text-align: left;
  width: 100%;
  padding: 0.8175rem;
  border-radius: 0.5rem;
}

.issue-sidebar .status-open {
  padding-left: 2.5rem;
  background: var(--color-nav-selected) url(assets/icons/issue-open.svg)
    no-repeat 0.8175rem center;
}

.issue-sidebar .status-closed {
  padding-left: 2.5rem;
  background: var(--color-nav-selected) url(assets/icons/issue-closed.svg)
    no-repeat 0.8175rem center;
}

.issue-sidebar .selector-status:hover {
  background-color: var(--color-row-hover);
}
