@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.85);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color */
  --color-background: rgba(0, 0, 0, 1);
  --color-text-primary: rgba(255, 255, 255, 0.85);
  --color-text-primary-active: rgba(255, 255, 255, 1);
  --color-text-dimmed-label: rgba(255, 255, 255, 0.5);
  --color-primary-cta: rgba(255, 92, 0, 1);
  --color-primary-cta-dimmed: rgba(255, 92, 0, 0.2);
  --color-light-outline: rgba(62, 62, 62, 0.39);
  --color-row-hover: rgba(62, 62, 62, 0.2);
  --color-nav-selected: rgba(30, 30, 30, 1);
  --color-modal-background: rgba(18, 18, 18, 0.7);
  --color-modal-outline: rgba(62, 62, 62, 0.8);
  --color-button-outline: rgba(50, 50, 50, 1);

  /* Filters */
  --filter-backdrop-blur: blur(6.5px);

  /* Typography */
  --typo-label-size: 0.875rem;
  --typo-label-weight: 800;
}

#root {
  display: flex;
  align-items: stretch;
}

a {
  color: var(--color-text-primary);
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
  scrollbar-color: var(--color-nav-selected) var(--color-background);
}

::-webkit-scrollbar-track {
  background-color: var(--color-background);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app-container {
  width: 100vw;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.95);
}

.secondary-button {
  color: var(--color-text-primary-active);
  opacity: 0.6;
  font-size: var(--typo-label-size);
  font-weight: var(--typo-label-weight);
  transition: opacity 0.3s ease-in-out;
  border: 1px solid var(--color-text-dimmed-label);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.secondary-button:hover {
  opacity: 1;
}

/* Nav */

.nav-container {
  height: 100%;
  gap: 2.45rem;
}

.zero-logo {
  width: 100%;
  height: auto;
}

.zero-mark {
  display: none;
}

.primary-cta {
  color: var(--color-background);
  border-radius: 0.5rem;
  background-color: var(--color-primary-cta);
  padding: 0.4rem 1.2rem;
  font-size: 1rem;
  font-weight: 800;
  font-family: inherit;
  cursor: pointer;
}

.primary-cta:focus,
.primary-cta:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.primary-nav {
  position: fixed;
  height: calc(100vh - 4rem);
  top: 2rem;
}

.section-tabs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-item {
  padding: 0.375rem 1rem;
  border-radius: 0.5rem;
}

.nav-item:hover {
  color: var(--color-text-primary-active);
}

.nav-active {
  color: var(--color-text-primary-active);
  background-color: var(--color-nav-selected);
}

.fps-meter {
  display: block;
  border-radius: 0.5rem;
  opacity: 0.3;
  width: 100%;
  margin-top: auto;
}

.user-login a {
  display: block;
  font-weight: 800;
  opacity: 0.6;
  padding: 0.4rem 1.2rem;
  border-radius: 0.5rem;
  text-align: center;
  color: var(--color-text-primary-active);
  border: 1px solid var(--color-text-dimmed-label);
  transition: opacity 0.3s ease-in-out;
}

.user-login a:hover {
  opacity: 1;
}

.logged-in-user-container {
  display: flex;
  justify-content: space-between;
}

.logged-in-user-name {
  cursor: default;
}

.logout-button {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  background: transparent url(assets/icons/logout.svg) no-repeat;
  opacity: 0.6;
  transform: scale(0.8);
  transition: opacity 0.3s ease-in-out;
}

.logout-button:hover {
  opacity: 1;
}

/* Primary Content Panel */

.primary-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 16rem;
}

.list-view-header-container {
  display: flex;
  flex: 0;
  margin-bottom: 1.5rem;
}

.list-view-header {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.issue-count {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-background);
  background-color: var(--color-text-primary);
  border-radius: 2rem;
  padding: 0.25rem 0.5rem;
  vertical-align: middle;
  margin-left: 1rem;
}

/* Filtering */

.list-view-filter-container {
  display: flex;
  flex: 0;
  flex-wrap: wrap;
  gap: 0.5rem;
  box-shadow: 0px 1px 0px 0px var(--color-light-outline) inset;
  padding: 1rem 0.5rem 1rem 2rem;
  background: transparent url(assets/icons/filter.svg) no-repeat 0.5rem center;
}

.filter-label {
  color: var(--color-text-dimmed-label);
  padding: 0.25rem 0;
  line-height: 1;
}

.list-view-filter-container .pill {
  margin: 0;
  color: var(--color-text-primary-active);
  background-color: var(--color-nav-selected);
}

.add-filter-container {
  position: relative;
}

.add-filter-modal {
  position: absolute;
  z-index: 1;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  width: 16rem;
  top: 2rem;
  padding: 1.5rem;
  background-color: var(--color-modal-background);
  backdrop-filter: var(--filter-backdrop-blur);
  border-radius: 0.5rem;
  border: 1px solid var(--color-modal-outline);
}

.filter-modal-item {
  position: relative;
}

.add-filter {
  color: var(--color-primary-cta);
  background-color: var(--color-background);
  border: 1px solid var(--color-primary-cta-dimmed);
  padding: 0.25rem 0.5rem 0.25rem;
  border-radius: 2rem;
  margin: 0 0.5rem 0 0;
  line-height: 1;
  transition: background-color 0.3s ease;
  position: relative;
}

.add-filter:hover,
.add-filter.active {
  background-color: var(--color-primary-cta-dimmed);
}

.add-filter .plus {
  vertical-align: 1px;
}

.filter-modal-label {
  font-size: var(--typo-label-size);
  font-weight: var(--typo-label-weight);
  margin-bottom: 1rem;
}

.filter-modal-button.creator-select {
  background: var(--color-nav-selected) url(assets/icons/avatar-default.svg)
    no-repeat 0.8175rem center;
  padding-left: 2.5rem;
}

.filter-modal-button.label-select {
  background: var(--color-nav-selected) url(assets/icons/label.svg) no-repeat
    0.8175rem center;
  padding-left: 2.5rem;
}

.primary-content .row {
  display: flex;
  flex-direction: row;
  height: 56px;
  align-items: center;
  gap: 1rem;
  box-shadow: 0px -1px 0px 0px var(--color-light-outline) inset;
  white-space: nowrap;
}

.primary-content .row:hover {
  background-color: var(--color-row-hover);
}

.primary-content .row:first-child {
  box-shadow:
    0px -1px 0px 0px var(--color-light-outline) inset,
    0px 1px 0px 0px var(--color-light-outline) inset;
}

.primary-content .issue-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.primary-content .issue-title {
  padding-left: 2rem;
  flex: 1;
  align-self: stretch;
  display: flex;
  align-items: center;
  background: transparent url(assets/icons/issue-open.svg) no-repeat 0.5rem
    center;
  width: 100%;
  overflow: hidden;
  min-width: 0;
}

.primary-content .issue-closed {
  background: transparent url(assets/icons/issue-closed.svg) no-repeat 0.5rem
    center;
}

.primary-content .issue-taglist {
  display: flex;
  padding: 0.5rem 0.5rem 0 0;
}

.primary-content .issue-taglist .pill {
  margin: 0 0 0.5rem 0.5rem;
}

/* Issue Detail */

.issue-detail-container {
  width: 100%;
}

.issue-detail {
  padding-right: 16rem;
}

.issue-sidebar {
  position: fixed;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  width: 12rem;
  z-index: 999;
}

.sidebar-item {
  margin-bottom: 2rem;
}

.sidebar-button,
.filter-modal-button {
  position: relative;
  background-color: var(--color-nav-selected);
  display: block;
  text-align: left;
  width: 100%;
  padding: 0.8175rem;
  border-radius: 0.5rem;
  transition: color 0.3s ease;
  border: 1px solid var(--color-button-outline);
}

.sidebar-button:hover {
  color: var(--color-text-primary-active);
}

.button-dropdown::before {
  content: '';
  position: absolute;
  opacity: 0.85;
  transition: opacity 0.3s ease;
  right: 1.125rem;
  top: 1.125rem;
  display: block;
  height: 0.875rem;
  width: 0.875rem;
  background: transparent url(assets/icons/dropdown-arrow.svg) no-repeat;
}

.sidebar-button:hover::before {
  opacity: 1;
}

.sidebar-status-open {
  padding-left: 2.5rem;
  background: var(--color-nav-selected) url(assets/icons/issue-open.svg)
    no-repeat 0.8175rem center;
}

.sidebar-status-closed {
  padding-left: 2.5rem;
  background: var(--color-nav-selected) url(assets/icons/issue-closed.svg)
    no-repeat center left;
}

.edit-buttons {
  display: flex;
  gap: 0.5rem;
}

.edit-buttons button {
  color: var(--color-text-primary-active);
  opacity: 0.6;
  font-size: var(--typo-label-size);
  font-weight: var(--typo-label-weight);
  transition: opacity 0.3s ease-in-out;
  border: 1px solid var(--color-text-dimmed-label);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.edit-buttons button.cancel-button {
  border: 1px solid var(--color-background);
}

.edit-buttons button:hover {
  opacity: 1;
}

.edit-title-container {
  margin-top: 2rem;
}

.edit-title,
.edit-description {
  background-color: var(--color-background);
  border: 1px solid var(--color-nav-selected);
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
}

.edit-description {
  margin-bottom: 4rem;
}

.edit-title {
  margin-bottom: 2rem;
}

.issue-detail-title {
  font-size: 2rem;
  font-weight: 800;
  margin: 1.5rem 0;
}

.issue-detail-label {
  font-size: var(--typo-label-size);
  font-weight: var(--typo-label-weight);
  margin-bottom: 1rem;
}

.issue-detail-label-container {
  display: flex;
  flex-wrap: wrap;
}

.issue-detail p {
  word-wrap: break-word;
  overflow: hidden;
}
.issue-detail a {
  word-break: break-all;
  overflow: hidden;
}

.description-container {
  margin-bottom: 4rem;
}

.pill {
  background: transparent 0.375rem center no-repeat;
  padding: 0.25rem 0.5rem 0.25rem 1.625rem;
  border-color: var(--color-light-outline);
  border-width: 1px;
  border-radius: 2rem;
  line-height: 1;
  transition: background-color 0.3s ease;
  margin: 0 0.5rem 0.5rem 0;
}

.pill.label {
  background-image: url(assets/icons/label.svg);
}

.pill.user {
  background-image: url(assets/icons/avatar-default.svg);
}

.pill:last-child {
  margin-right: 0;
}

.pill:hover {
  cursor: default;
}

.issue-topbar {
  display: flex;
  justify-content: space-between;
}

.breadcrumb-item {
  font-size: var(--typo-label-size);
  font-weight: var(--typo-label-weight);
  padding-right: 0.25rem;
}

.breadcrumb-item:last-child {
  padding-right: 0;
}

.selector {
  position: relative;
}

.selector .dropdown {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  width: 100%;
  background-color: var(--color-nav-selected);
  max-height: 30rem;
  overflow-y: auto;
}

.selector .item {
  display: block;
  text-align: left;
  width: 100%;
  padding: 0.8175rem;
  border-radius: 0.5rem;
}

.selector .item.icon {
  padding-left: 3.05rem;
  background-repeat: no-repeat;
  background-position: 1.1rem center;
  background-size: 14px;
}

.selector .dropdown .item:hover {
  background-color: var(--color-row-hover);
}

.login-to-comment {
  color: var(--color-text-primary-active);
  opacity: 0.6;
  font-size: var(--typo-label-size);
  font-weight: var(--typo-label-weight);
  transition: opacity 0.3s ease-in-out;
  border: 1px solid var(--color-text-dimmed-label);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  display: inline-block;
}

.login-to-comment:hover {
  opacity: 1;
}

.issue-creator-avatar {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.8175rem;
}

/* Issue Composer */

.save-issue {
  font-weight: 800;
  padding: 0.4rem 1.2rem;
}

.modal-container .issue-detail-label {
  margin-bottom: 0;
}

.issue-composer-header {
  margin-bottom: 1rem;
}

/* Comment Composer */

.comment-input {
  margin: 1rem 0;
  background-color: var(--color-background);
  border: 1px solid var(--color-nav-selected);
  border-radius: 0.5rem;
  padding: 1rem;
  display: block;
  width: 100%;
}

.edit-comment-cancel {
  margin-left: 0.5rem;
  font-size: var(--typo-label-size);
  font-weight: var(--typo-label-weight);
  opacity: 0.6;
}

.edit-comment-cancel:hover {
  opacity: 1;
}

/************/
/* Markdown */
/************/

.markdown-container p {
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.markdown-container ul,
.markdown-container ol {
  padding-left: 2rem;
}

.markdown-container ul {
  list-style-type: disc;
  list-style-position: inside;
}

.markdown-container ol {
  counter-reset: list-counter;
  list-style: none;
  padding-left: 0;
}

.markdown-container ol li {
  counter-increment: list-counter;
  position: relative;
  padding: 0.25rem 0 0.25rem 3.35em;
  line-height: 2;
}

.markdown-container ol li::before {
  content: counter(list-counter) '.';
  position: absolute;
  left: 0;
  width: 2.2em;
  text-align: right;
}

.markdown-container ul li {
  padding: 0.25rem 0;
  line-height: 2;
}

/* Markdown: Code blocks */
.issue-detail pre {
  background-color: var(--color-nav-selected);
  border-radius: 0.5rem;
  margin: 2rem 0;
  padding: 1rem;
  overflow-x: auto;
}

.issue-detail code {
  font-size: 0.9rem;
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  background-color: var(--color-nav-selected);
  padding: 0.1rem 0.3rem;
  border-radius: 0.25rem;
}

/* Markdown: Blockquotes */
.markdown-container blockquote {
  margin: 1rem 0;
  padding: 0.5em 1em;
  border-left: 0.4rem solid var(--color-nav-selected);
  font-style: italic;
  color: rgba(255, 255, 255, 0.6);
}

/* Markdown: Horizontal rule */
.markdown-container hr {
  margin: 1rem 0;
  border-color: var(--color-nav-selected);
}

/* Markdown: Headers */
.markdown-container h1 {
  font-size: 3rem;
}

.markdown-container h2 {
  font-size: 2rem;
  margin: 3rem 0 1rem;
}

.markdown-container h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 2rem 0 1rem;
}

/* Markdown: Links */
.markdown-container a {
  color: var(--color-primary-cta);
}

/**************/
/* Responsive */
/**************/

@media (max-width: 900px) {
  .primary-nav {
    height: 6.3rem;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    z-index: 9998;
    background-color: var(--color-background);
  }

  .nav-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .fps-meter {
    display: none;
  }

  .primary-content {
    padding: 5rem 0 0 0;
  }

  .section-tabs {
    flex-direction: row;
    font-size: var(--typo-label-size);
    font-weight: var(--typo-label-weight);
  }

  .primary-cta {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 9999;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    opacity: 0.95;
  }

  .primary-cta::after {
    content: '+';
    font-weight: 800;
    font-size: 2rem;
    line-height: 1;
    vertical-align: 3px;
  }

  .primary-cta-text {
    display: none;
  }

  .logged-in-user-name {
    display: none;
  }

  .primary-content .issue-taglist .pill {
    display: none;
  }

  .primary-content .issue-taglist .pill:first-child {
    display: block;
  }

  .issue-detail {
    padding-right: 0;
  }

  .issue-sidebar {
    position: static;
    width: 100%;
    margin-top: 0;
    margin-bottom: 4rem;
  }

  .selector .dropdown {
    max-height: 25vh;
  }

  .modal {
    margin-top: 10rem;
  }

  .logged-in-user .issue-creator-avatar {
    margin-right: 0;
  }

  .logout-button {
    display: none;
  }
}

@media (max-width: 650px) {
  .zero-logo {
    display: none;
  }

  .zero-mark {
    display: block;
  }

  .add-filter-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
