.input {
  padding: 10px 14px 9px;
  grid-area: 1 / 1;
  margin: 0px;
  border: none;
  appearance: none;
  font-size: inherit;
  height: 36px;
  background: transparent;
  color: black;
  caret-color: rgb(110, 94, 210);
  outline: none;
  width: 100%;
}

.input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
