.mobileNav {
    display: none;
}

.mobileNavButton {
    height: 3rem;
    width: 3rem;
    border: none;
    background-color: transparent;
    padding: 0.5rem;
}


@media only screen and (max-width: 828px) {
    .mobileNav {
      display: block;
    }
  }