.nav {
  background-color: rgba(255, 255, 255, 0.9);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  bottom: auto;
  z-index: 101;
  padding: 1.25rem;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.navContainer {
  max-width: 952px;
  margin: 0 auto;
}

.navArray {
  list-style: none;
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: -webkit-max-content minmax(auto, 1fr) -webkit-max-content;
  -ms-grid-columns: max-content minmax(auto, 1fr) max-content;
  grid-template-columns: -webkit-max-content minmax(auto, 1fr) -webkit-max-content;
  grid-template-columns: max-content minmax(auto, 1fr) max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-size: 16px;
}

.navLogoContainer {
  justify-self: start;
  align-self: auto;
  position: relative;
  height: auto;
}

.navLogoLink {
  position: static;
  display: block;
  height: 44px;
  margin: 0;
  padding: 0;
}

.navLogoLinkMobile {
  position: static;
  display: none;
  height: 44px;
  margin: 0;
  padding: 0;
}

.navLogo {
  transition: filter 0.1s ease-in-out;
  width: auto;
  height: 44px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.navLink {
  cursor: pointer;
  color: #2a2c2e;
  display: block;
  margin: 0;
  padding: 10px 0px;
}

.navLinkActive {
  color: #fc208a;
}

.buttonPrimary {
  display: inline-block;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  padding: 14px 24px;
  border-radius: 8px;
  background-color: #fc208a;
  box-shadow: 0 2px 6px -2px rgb(0 0 0 / 37%);
  -webkit-transition: -webkit-transform 200ms
    cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 200ms cubic-bezier(0.645, 0.045, 0.355, 1),
    -webkit-transform 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

.buttonPrimary:active {
  box-shadow: none;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

@media only screen and (max-width: 940px) {
  .navArray {
    font-size: 14px;
    grid-column-gap: 14px;
  }
}

@media only screen and (max-width: 828px) {
  .navContainer {
    display: flex;
    justify-content: space-between;
  }
  .navArray {
    display: none;
  }
  .navLogoLinkMobile {
    display: block;
  }
}
