:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 0.9em;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 90%;
  min-width: 600px;
  max-width: 1280px;
}

a {
  font-weight: 500;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3a3a3a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

table.messages {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  border: 1px solid gray;
}

table.messages th,
table.messages td {
  white-space: nowrap;
  overflow: none;
  text-overflow: ellipsis;
  text-align: left;
  padding: 6px;
  border: 1px solid gray;
}

table.messages th {
  font-weight: bold;
}

table.messages td:last-child {
  cursor: pointer;
}

.controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.controls > div {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
