body.custom-cursor *:not(.rotation-handle.active):not(.piece.active #shape) {
  cursor: none;
}
#intro * {
  user-select: none;
}

#demo {
  user-select: none;
  position: relative;
}

#wells {
  display: block;
}

#debug {
  position: fixed;
  right: 0;
  top: 0;
  text-align: end;
  padding-right: 1em;
  z-index: 201;
}
#debug .content {
  pointer-events: none;
}
#caches {
  background-color: rgba(125, 130, 184, 0.5);
}
#server-caches {
  background-color: rgba(243, 227, 124, 0.5);
}

#caches,
#server-caches {
  display: block;
}
#caches canvas,
#server-caches canvas {
  width: 150px;
  height: 150px;
}

.online-dot {
  width: 14px;
  height: 14px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 3px 12px 2px 0;
  background-color: #5fc68b;
  border-radius: 50%;
}
.online-dot.offline {
  background-color: #c65f64;
}

#info {
  display: flex;
  margin: 2em;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
#info > *:not(:first-child) {
  margin-left: 3em;
}
#info * {
  flex-shrink: 0;
}
.demo-active #info {
  opacity: 1;
}

.active-user-info {
  display: flex;
}

#reset-button {
  border: none;
  background-color: transparent;
  font: inherit;
  transition: transform 200ms cubic-bezier(0.8, 0.1, 0.2, 1);
  transform-style: preserve-3d;
  text-align: center;
  height: 1.2em;
  color: black;
}
#reset-button.cleared {
  transform: rotateX(90deg);
}
#reset-button > div {
  display: flex;
  align-items: center;
}

#reset-button .copy {
  transform: translateZ(0.7em);
}

#reset-button .success {
  color: #5fc68b;
  transform: rotateX(-90deg) translateZ(0.7em);
}

#reset-button .success .icon {
  transition: transform 600ms cubic-bezier(0.8, 0.1, 0.2, 2);
  transform: rotateY(-90deg) translateX(-1em) scale(0.5);
}
#reset-button.cleared .success .icon {
  transform: rotateY(0deg) scale(1.5);
}

#reset-button .icon {
  margin-right: 8px;
}

#canvases {
  position: absolute;
  height: 149px;
  width: 422px;
}

.cursor {
  position: absolute;
  pointer-events: none;
  top: 0px;
  left: 0px;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.5s ease-out;
  z-index: 300;
  opacity: 0;
}
.cursor.active {
  opacity: 1;
}
.cursor.local.cursor {
  z-index: 301;
}
.cursor svg {
  position: absolute;
  left: -1px;
  top: -1px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
}

.location {
  position: absolute;
  padding: 4px;
  font-weight: 700;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  white-space: nowrap;
  left: 12px;
  top: 14px;
  transition: top 300ms, opacity 100ms;
  transition-timing-function: cubic-bezier(0.46, 0.11, 0.065, 1.65);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.bot-indicator {
  position: absolute;
  top: -18px;
  right: -18px;
}
#pieces {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 775px;
  overflow: hidden;
}
.piece {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: all;
  filter: drop-shadow(0px 0px 6px transparent);
  transition: filter 0.2s;
  transition-timing-function: cubic-bezier(0.46, 0.11, 0.065, 1.65);
  overflow: visible;
  touch-action: none;
}

.piece #shape {
  cursor: grab;
}
.piece.placed #shape {
  cursor: default;
}

.piece.active #shape {
  filter: drop-shadow(2px 2px 6px #00000040);
}
.piece.rotating {
  transition: filter 0s;
}

.piece.A #shape {
  fill: rgba(252, 73, 171, 0.5);
  stroke: rgba(223, 0, 122, 0.6);
}
.piece.A.placed #shape {
  fill: #fc49ab;
  stroke: #fc49ab;
}
.piece.L #shape {
  fill: rgba(95, 232, 255, 0.5);
  stroke: rgba(0, 197, 229, 0.6);
}
.piece.L.placed #shape {
  fill: #5fe8ff;
  stroke: #5fe8ff;
}
.piece.I #shape {
  fill: rgba(255, 153, 0, 0.5);
  stroke: rgba(211, 127, 0, 0.8);
}
.piece.I.placed #shape {
  fill: #ff9900;
  stroke: #ff9900;
}
.piece.V #shape {
  fill: rgba(213, 5, 232, 0.5);
  stroke: rgba(174, 16, 188, 0.8);
}
.piece.V.placed #shape {
  fill: #d505e8;
  stroke: #d505e8;
}
.piece.E #shape {
  fill: rgba(29, 157, 229, 0.5);
  stroke: rgba(29, 157, 229, 0.8);
}
.piece.E.placed #shape {
  fill: #1d9de5;
  stroke: #1d9de5;
}

.rotation-handle {
  position: absolute;
  opacity: 0;
  z-index: 201;
  width: 28px;
  height: 28px;
  pointer-events: none;
  touch-action: none;
}
.rotation-handle.active {
  opacity: 1;
}
.rotation-handle.animate {
  transition: opacity 200ms cubic-bezier(0.46, 0.11, 0.065, 1.65);
}
.rotation-handle > div {
  position: absolute;
  cursor: grab !important;
  width: 28px;
  height: 28px;
  transform: translate3d(0, 0, 0);
  pointer-events: all;
}
.rotation-handle.placed > div {
  cursor: default;
}
.rotation-handle.active > div {
  /* 44 because it looks nice */
  /* x axis because it corresponds to zero radians so that when we rotate by radians we get the right position */
  transform: translate3d(44px, 0, 0);
  transition: transform 200ms cubic-bezier(0.46, 0.11, 0.065, 1.65);
}

.rotation-handle > div > div {
  position: absolute;
  left: 8px;
  top: 8px;
  border: 1px solid #0c8ce9;
  box-shadow: 0px 2px 4px 0px #00000040;
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.rotation-handle.showing.moving,
.piece.active.moving #shape {
  cursor: grabbing !important;
}
