body.demo-active * {
  cursor: none;
}
#intro * {
  user-select: none;
}

#demo {
  pointer-events:none;
  width: 600px;
  height: 200px;
  position: relative;
}
#canvas3D {
  transition: opacity 500ms;
  opacity: 0;
}
#preload {
  /*
 * This animation should be slower so that we don't see a "shimmer" as the two
 * animations cross each other
 */
  transition: opacity 1000ms;
  opacity: 1;
}
#canvas3D.loaded {
  opacity: 1;
}
#preload.loaded {
  opacity: 0;
}
#preload, #canvas3D {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.preload-1, .preload-2 {
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}
.preload-2 {
  fill-rule: evenodd;
}
#debug {
  position: fixed;
  right: 0;
  top: 0;
  text-align: end;
  padding-right: 1em;
  z-index: 100;
  user-select: none;
}
#caches {
  background-color: rgba(125, 130, 184, 0.5);
}
#server-caches {
  background-color: rgba(243, 227, 124, 0.5);
}

#caches, #server-caches {
  display: block;
}
#caches canvas, #server-caches canvas {
  width: 150px;
  height: 150px;
}

.online-dot {
  width: 14px;
  height: 14px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 3px 12px 2px 0;
  background-color: #5fc68b;
  border-radius: 50%;
}
.online-dot.offline {
  background-color: #c65f64;
}

#info {
  display: flex;
  margin: 2em;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
  opacity: 0;
}
#info > *:not(:first-child) {
  margin-left: 2em;
}
.demo-active #info {
  opacity: 1;
}

.active-user-info {
  display: flex;
}

#reset-button {
  border: none;
  background-color: transparent;
  font: inherit;
  transition: transform 200ms cubic-bezier(0.8, 0.1, 0.2, 1);
  transform-style: preserve-3d;
  text-align: center;
  height: 1.2em;
  cursor: none;
}
#reset-button.cleared {
  transform: rotateX(90deg);
}
#reset-button > div {
  display: flex;
  align-items: center;
}

#reset-button .copy {
  transform: translateZ(0.7em);
}

#reset-button .success {
  color: #5fc68b;
  transform: rotateX(-90deg) translateZ(0.7em);
}

#reset-button .success .icon {
  transition: transform 600ms cubic-bezier(0.8, 0.1, 0.2, 2);
  transform: rotateY(-90deg) translateX(-1em) scale(0.5);
}
#reset-button.cleared .success .icon {
  transform: rotateY(0deg) scale(1.5);
}

#reset-button .icon {
  margin-right: 8px;
}

body.active {
  user-select: none;
}

#canvases {
  position: absolute;
  height: 149px;
  width: 422px;
}

.cursor {
  position: fixed;
  transition: opacity 1s ease-out;
  pointer-events: none;
  top: 0px;
  left: 0px;
  transform: translate3d(0, 0, 0);
  z-index: 100;
}

.location {
  position: relative;
  padding: 4px;
  font-weight: 700;
  font-size: 0.8em;
  color: white;
  border-radius: 4px;
  white-space: nowrap;
  left: 12px;
  top: -12px;
}
