.recordings {
  position: fixed;
  top: 100%;
  right: 0px;
  padding: 20px;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid #ccc;
  text-align: start;
  min-width: 400px;
}

.toggleShowButton {
  top: -40px;
  position: absolute;
  right: 0px;
  padding: 10px;
  background-color: rgba(255, 201, 120, 0.8);
}

.panelShowing {
  top: initial;
  bottom: 0px;
}

.recordButton {
  position: absolute;
  right: 40px;
}

.recordings h4 {
  margin-top: 0px;
}

.recordingsList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.recordingsList li {
  display: flex;
  flex-direction: row;
}
.recordingsList li button {
  margin-right: 10px;
}
