@font-face {
  font-family: 'Muoto 205tf';
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/muoto-var.ttf') format('truetype-variations');
}

@font-face {
  font-family: 'Muoto 205tf italic';
  font-style: italic;
  font-weight: 100 900;
  src: url('/fonts/muoto-var-italic.ttf') format('truetype-variations');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  fong-weight: 400;
  src: url('/fonts/inconsolata-regular.ttf') format('truetype-variations');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Muoto 205tf', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #2a2c2e;
  overscroll-behavior: none;
}

a {
  color: #fc208a;
  text-decoration: none;
}

em {
  font-family: 'Muoto 205tf italic';
}

* {
  box-sizing: border-box;
}

h2 {
  position: static;
  top: 110px;
  margin: 1.25rem 0 4rem;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -1px;
}

main {
  overflow-x: hidden;
}
